html {
	background-color: #2f2f2f;
}

@media only screen and (min-width: 500px) {
	.nav-s2 {
		display: none;
	}
	
	#nav-bottom {
		margin-top: 100px;
		height: 150px;
	}
	
	#nav-bottom p {
		padding-top: 30px;
	}
	
	#nav-bottom .logo-text {
		padding-top: 30px;
	}
	
	#banner .inner header h1 {
		font-size: 4em;
		padding-bottom: 0.1em;
	}
	
	.body-bg {
		height: 100%;
	}
}

@media only screen and (max-width: 499px) {
	.middle-div {
		display: none;
	}
	
	#banner .inner footer {
		display: none;
	}
	
	#banner .inner header h1 {
		font-size: 2.5em;
	}
	
	.body-bg {
		height: 100%;
	}
	
	.nav-b {
		display: none;
	}
	
	#nav-bottom {
		margin-top: 50px;
		height: 100px;
	}
}

@media only screen and (max-height: 600px) {
	#banner .inner footer {
		display: none;
	}
}

.body-bg {
	height: 100%;
}

.article-card p {
	color: #909090;
}

div .nav-s2 {
	padding-left: 4%;
	padding-top: 4%;
}

#nav-bottom {
	text-align: center;
	background-color: #2f2f2f;
	padding-bottom: 50px;
	line-height: 10%;
}

#nav-bottom div a {
	background-image: url("https://winner32.github.io/CDN/photos/logo.png");
	background-size: 40px;
	height: 48px;
	width: 40px;
}

#nav-bottom .logo-text {
	color: #80f4fa;
	letter-spacing: 0.001em;
	font-weight: 900;
	margin: 0;
	padding-left: 0.05em;
	position: relative;
}

#nav-bottom div {
	padding-top: 10px;
}

#banner {
	text-align: center;
}

#banner .inner {
	animation-fill-mode: forwards;
	color: #fff;
	display: inline-block;
	padding: 10%;
	text-align: center;
}

#banner .inner header {
	display: inline-block;
	border-bottom: solid 2px;
	border-top: solid 2px;
	margin: 0 0 2em 0;
	padding: 3px 0 3px 0;
}

#banner .inner header h1 {
	color: #80f4fa;
	letter-spacing: 0.001em;
	font-weight: 900;
	margin: 0;
	padding-left: 0.05em;
	position: relative;
}

#banner .inner p {
	letter-spacing: 0.03em;
	margin: 0;
}

#banner .inner footer {
	margin: 2em 0 0 0;
}

#banner .inner footer a {
	padding-top: 0.2em;
}

.article-card {
	background-color: #343434;
}

.article-h2 {
	color: #e7e7e7;
}