ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
}

p {
	font-size: medium;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 25% 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
	text-decoration: none;
}

.active {
	background-color: #4CAF50;
}

.backbox {
	background-color: rgb(233, 233, 233);
	height: 30%;
	width: 70%;
	padding: 10%;
	margin: 10px;
	border-radius: 10%;
	overflow-wrap: break-word;
}

.bbackbox {
	padding: 5%;
	margin-top: 2%;
	height: 100%;
}

a.urls:link,
a.urls:visited {
	background-color: rgb(115, 130, 140);
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a.urls:hover,
a.urls:active {
	background-color: rgb(150, 150, 140);
}

a.url:link,
a.url:visited {
	text-decoration: none;
	color: rgb(130, 187, 198)
}

a.url:hover,
a.url:active {
	text-decoration: none;
	background-color: rgb(189, 189, 177);
}

.button {
	background-color: rgb(115, 130, 140);
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

body {
	background-image: url("https://s3.bmp.ovh/imgs/2022/06/14/bd9ae554ddb6b70e.png");
}
