@media only screen and (min-width: 500px) {
	.nav-s2 {
		display: none;
	}
}
@media only screen and (max-width: 499px) {
	.nav-b {
		display: none;
	};
}

div .nav-s2 {
	padding-left: 4%;
	padding-top: 4%;
}

.nav-bh {
	background-color: #0000;
}